/Projeto/MaximumDiversityProblem/nbproject/private/
/Projeto/MaximumDiversityProblem/build/
/mdplib_2010/
/Projeto/MaximumDiversityProblem/dist/
/Projeto/TestesTiago/nbproject/private/
/Projeto/TestesTiago/build/
/Resultados/LeitorDados/nbproject/private/
/Resultados/LeitorDados/build/
/Resultados/LeitorDados/dist/